*,
:before,
:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    height: 100vh;
    background: linear-gradient(to bottom, #615dad, #ffc8da);
    background-size: cover cover;
    background-position: center;
    background-repeat: no-repeat;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.84rem;
    color: white;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.start {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.start__picture {
    justify-content: stretch;
    width: 20.63rem;
    border-radius: 2% 2% 0 0;
}

.start__body {
    width: 20.63rem;
    display: flex;
    flex-direction: column;
    background-color: #283e50;
    color: white;
}

.start__title {
    align-self: center;
    margin: 6% 0;
    font: 2.25rem bold white;
    font-family: Lobster;
}

.start__description {
    text-align: center;
    padding: 0 3% 10% 3%;
}

.start__button {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    border: none;
}

.start__button a {
    padding: 5%;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.start__button--green {
    background-color: #1fcca4;
    border-bottom: 0.1rem solid #283e50;
}

.start__button--green:hover{
    background-color: #1cbb96;
}

.start__button--blue {
    background-color: #0197f6;
}

.start__button--blue:hover {
    background-color: #0090e9;
}

/* responzivita */
@media (min-width: 68.75rem) {
    body {
        font-size: 0.6875rem;
    }

    .start {
        margin: 4%;
    }

    .start__picture, 
    .start__body {
        width: 16.88rem;
    }

    .start__title{
        font-size: 2rem;
    }

    .start__button a{
        font-size: 0.75rem;
    }
}

@media (min-width: 100rem) {
    body {
        font-size: 0.88rem;
    }

    .start {
        margin: 5%;
    }

    .start__picture, 
    .start__body {
        width: 21.88rem;
    }

    .start__title{
        font-size: 2.2rem;
    }

    .start__button a{
        font-size: 0.95rem;
    }
}

@media (min-width: 125rem) {
    body {
        font-size: 1.06rem;
    }
    
    .start__picture, 
    .start__body {
        width: 26.25rem;
    }

    .start__title {
        font-size: 2,375rem;
    }

    .start__button a{
        font-size: 1.25rem;
    }
}

@media (min-width: 156.25rem) {
    body {
        font-size: 1.25rem;
    }
    
    .start__picture, 
    .start__body {
        width: 31.25rem;
    }

    .start__title {
        font-size: 2.81rem;
    }

    .start__button a{
        font-size: 1.5rem;
    }
}

@media (min-width: 187.5rem) {
    body {
        font-size: 1.75rem;
    }

    .start__picture, 
    .start__body {
        width: 43.75rem;
    }

    .start__title {
        font-size: 3.75rem;
    }

    .start__button a{
        font-size: 2rem;
    }
}

/* responzivita pro otočený mobil na bok (landscape) */
@media (max-height: 31.25rem) and (max-width: 59.375rem) {
    body {
        font-size: 0.62rem;
    }

    .start {
        flex-direction: row;
    }

    .start__picture {
        orientation: portrait;
        width: 35vw;
        height: 60vh;
        border-radius: 2% 0 0 2%;
    }

    .start__body {
        width: 40vw;
        height: 60vh;
    }

    .start__title{
        font-size: 1.75rem;
    }

    .start__description {
        padding: 0 3% 5% 3%;
    }

    .start__button a{
        font-size: 0.688rem;
        padding: 2.7%;
    }
}