*,
:before,
:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    height: 100vh;
    background: linear-gradient(to bottom, #615dad, #ffc8da);
    background-size: cover cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.start__picture {
    justify-content: stretch;
    width: 300px;
    border-radius: 8px 8px 0 0;
}

.start__body {
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: #283e50;
    color: white;
}

.start__title {
    align-self: center;
    margin: 6% 0;
    font: 33px bold white;
    font-family: Lobster;
}

.start__description {
    text-align: center;
    padding: 0 3% 10% 3%;
}

.start__button {
    padding: 4%;
    display: flex;
    justify-content: stretch;
    border: none;
}

.start__button a {
    justify-content: center;
    align-items: center;
    width: 100%;
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.start__button--green {
    background-color: #1fcca4;
    border-bottom: 1.5px solid #283e50;
}

.start__button--green:hover{
    background-color: #1cbb96;
}

.start__button--blue {
    background-color: #0197f6;
}

.start__button--blue:hover {
    background-color: #0090e9;
}